%li.left.clearfix
  - if message.user.email == 'bot@bot.com'
    .pull-left
      %img.ghost{ src: image_path('bot.png') }
  .chat-body.clearfix
    .header
      %strong.primary-font #{message.user.name}:
    %p= message&.value&.html_safe
