.row
  .col-md-4
    %ul.list-unstyled#messages
      = render @messages

    .input-group
      %input#chat-input.form-control.input-sm{:placeholder => "Type your message here...", :type => "text"}/
      %span.input-group-btn
        %button#btn-chat.btn.btn-warning.btn-sm
          Send

  .col-md-8
    Showing
