.row
  .col-sm-10
    %h3
      Highlights from today
    %p You can highlight whatever you find important by selecting the text you like and clicking the button `highlight`
  .col-sm-2
    %br
    %button.btn.btn-primary.btn-lg#save-text.fixed Highlight

.fix
  .well.col-sm-11
    %ul.list-unstyled
      - User.all.each do |user|
        .user{ id: "user_#{user.id}", style: user.highlights.any? ? '' : 'display:none;' }
          %h3= user.name
          = render user.highlights
:coffeescript
  $('#save-text').prop("disabled",true)
  $('#save-text').addClass("disabled")
  $('#save-text').on 'click', ->
    Kolich.Selector.save()
