%table.table
  %thead
    - User.where.not(name: 'RE-FUSE Bot').each do |user|
      %th= user.name
  %tbody
    - (0..30).each do |number|
      %tr{ class: "time word_#{number}"}
        - User.where.not(name: 'RE-FUSE Bot').each do |user|
          %td.word.off{ data: {word: user.speech&.split(' ')[number] }}= user.speech&.split(' ')[number]


:coffeescript
  $.ajaxSetup(headers: 'Authorization': "Basic " + btoa('50e3389a-33ad-4b4f-9da5-fccbae4d7574:hfLJVxsec55k'))

  window.loadSpeech = (text)->
    responsiveVoice.speak(text, "US English Male")

  run = ->
    active = 0

    progress = ->
      $($('.time')[active]).removeClass('on')
      active = active + 1
      $($('.time')[active]).addClass('on')
      $($('.time')[active]).find('.enabled').each ->
        console.log $(this).data('word')
        loadSpeech $(this).data('word')
      active = 0 if active == 100
      setTimeout(progress, 400)

    progress()

  $('.word').on 'click', ->
    word = $(this).data('word')
    console.log word
    $(".word[data-word='"+$(this).data('word')+"']").addClass('enabled')


  run()
