%button.btn.btn-primary.record  Restart recording

%h3
  = cue.name
  %small= cue.subtitle
.well
  #text

%p You have to allow your browser to acces your microphone and you can start speaking.

:coffeescript
  listener = new webspeech.Listener()
  window.listen = ->
    listener.listen "en", (text)->
      console.log(text)
      $('#text').append text
      App.speech.speak text
  listen()
  $('.record').on 'click', listen
